@(grade: Grade) 


<html>
	<head>
		<title>@grade.title</title>
	</head>
	<body>
	
		<h2>@grade.title</h2>
		
	
		<p>Student Name: @grade.student</p>
		<p>Course ID: @grade.id</p>
		<p>Score: @grade.score</p>
		<p>Professor Name: @grade.professor</p>
		<p>Class: @grade.classroom</p>
		<p>Semester: @grade.semester</p>
		<p>Major: @grade.major</p>
		<p>Number of Credits: @grade.credits</p>
		<a href= @routes.HomeController.edit(grade.id)>Edit</a>
		<a href= @routes.HomeController.destroy(grade.id)>Delete</a>
	
	</body>
</html>